body {
    /* background-color: rgba(0, 64, 255, 0.18);  */
    background-image: url("../images/officebackground3.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}


.img-fluid {
        max-width: 48%;
        height: auto;
    }

#startbutton {
    position: relative;
    top: 20px;
}

#triviatitle {
    position: relative;
    bottom: 377px;
    left: 241px;
    width: 80%;
}

.answerChoice:hover {
    box-shadow: 0px 0px 5px #888888;
    color: rgb(231, 213, 213);
    background-color: #21386E;
}

.question-text {
	font-size: 40px;
	font-family: 'El Messiri', sans-serif;
	color: black;
}

.answerChoice {
    font-size: 30px;
    font-family: 'El Messiri', sans-serif;
}

.timer {
    font-size: 20px;
    font-family: 'El Messiri', sans-serif;

}

.answer-message {
    font-size: 20px;
    font-family: 'El Messiri', sans-serif;

}

.officetrivia {
    font-size: 30px;
    font-family: 'El Messiri', sans-serif;
    color: #040f43;

}
